.navbar{
    background-color: rgb(26, 26, 26);
    display: flex;
    justify-content: center;
  }
  
  .searchArea{
    
    border: 1px solid #fff;
    padding: 10px;
    margin: 10px;
    width:500px;
    text-align: center;
    
  }